/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    font-weight: bold;
    font-size: 24px;
    color: #4caf50;
  }
  
  .menu a {
    color: #333;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .toggle-btn {
    display: none;
    cursor: pointer;
  }
  
  .toggle-btn span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
  }
  
  /* Estilos de la barra lateral */
  .sidebar {
    background-color: #4caf50;
    color: #fff;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s ease;
    z-index: 1;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .categories {
    padding: 20px;
  }
  
  .categories h3 {
    margin-top: 0;
  }
  
  .categories ul {
    list-style-type: none;
    padding: 0;
  }
  
  .categories ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .categories ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  /* Estilos del contenido principal */
  .content {
    padding: 20px;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
  }
  
  .content.open {
    margin-left: 0;
  }
  
  /* Estilos del efecto blur */
  .blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
    }
    
    .nav:hover {
        color:#4caf50 ;
    }
  
  .blur-overlay.open {
    visibility: visible;
    opacity: 1;
    }
    
  /* Estilos responsive */
    @media (max-width: 768px) {
    .toggle-btn {
        display: block;
    }
    
    .sidebar {
    width: 100%;
    left: -100%;
    }
  
    .content {
    margin-left: 0;
    }
  
    .content.open {
    margin-left: -100%;
    }
  }